.formatstyle{
    text-align:center;
}

h1{
    font-size:50px;
}

.Name{
    color:blue;
    font-size:30px;
    font-weight:bold;
}

.School{
    color:red;
    font-size:30px;
    font-weight:bold;
}

.Total{
    color:purple;
    font-size:30px;
    font-weight:bold;
}

.Score{
    color:green;
    font-size:30px;
    font-weight:bold;
}